.elem{
    background: orange;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    animation: moveToRight 5s linear infinite;
    animation-delay: 1000ms;
    transition: 500ms linear;
}
@keyframes moveToRight{
    0%{
        transform: translateX(0px);
        background: linear-gradient(to right, #ff8177 0%,#ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    }
    25%{
        transform: translateX(400px);
        background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
    50%{
        transform: translateY(200px) translateX(400px);
        background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }
    75%{
        transform: translateX(0px) translateY(200px);
        background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
    100%{
        transform: translateX(0px);
    }
}
.elem:hover{
    opacity: 0.5;
    transform: scale(1.1);
}